// These side-by-side classes are adopted 
// from Bootstrap's Input Groups - http://getbootstrap.com/components/#input-groups
// see `search.hbs` for an example of how to use these classes

.side-by-side--wrapper {
  display: table;
  max-width: 600px;
  border-collapse: separate;
  width: 100%;
  margin-top: 1em;
}

.side-by-side {
  vertical-align: middle;
  display: table-cell;
}

.side-by-side--major {
  float: left;
  width: 100%;
}

.side-by-side--minor {
  white-space: nowrap;
  width: 1%;
}

.search-button {
  -webkit-appearance: none;
  appearance: none;
  padding: 1em;
  border-radius: 0;
  height: 54px;
  box-sizing: border-box;
  border: 1px solid black;
  font-size: 1em;
  border-radius: 0;
  margin: 0 !important;
}

.search-input {
  appearance: none;
  -webkit-appearance: none;
  font-size: 1em;
  padding: 1em;
  height: 54px;
  box-sizing: border-box;
  border: 1px solid black;
  border-right: none;
}

label {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.reset {
  -webkit-apperance: none;
  apperance: none;
  background: none;
  border: none;
  border-radius: 0;
  font-size: 0.8em;
  padding: 0;
  text-decoration: underline;
  text-transform: uppercase;
  margin-top: 1em;
}
