
body{
width:90%;
font-family:sans-serif;
}

h2{
font-size:3em;
text-align: center;
margin:0;
margin:35px 0 35px 0;
}

.movie_search{
width:90%;
height: 40px;
font-size: 35px;
margin-top:25px;
}

.credits{
clear:both;
font-size:11px;
text-align:center;
margin-top:25px;
}

.number {
font-weight: bold;
font-size: 1em;
}

.movie{
font-size:2em;
}

.movie p a:first-child{
display: block;
}

.red{
background-color: red;
color: white;
border-radius: 50%;
height: 40px;
width: 40px;
display: block;
text-align: center;
padding: 20px;
}

.green{
background-color: green;
color: white;
border-radius: 50%;
height: 40px;
width: 40px;
display: block;
text-align: center;
padding: 20px;
}

img{
width:80%;
}

.movie > p{
text-align: center;
margin-bottom:0;
}

.rating {
text-align: center;
margin-top: 25px;
}

a:visited, a:hover, a{
color:black;
}

a.title{
display: block;
}

.score{
width: 71%;
margin: 0 auto;
}

.clear{
clear:both;
}

.score p{
float: left;
padding-right: 25px;
margin:20px 0 50px 0;
}

.score p:last-child{
padding-right: 0;
}

@media (min-width:320px){
.score{
width: 61%;
}
}

@media (min-width:480px){
.score{
width: 36%;
}
}

@media (min-width:547px){

body{
width:960px;
margin:0 auto;
}

.theater{
float:left;
width:400px;
}

.dvd{
float:right;
width:400px;
}

.movie_search{
width:100%;
}

.clear{
clear:none;
}

.credits.clear{
clear:both;
}

.score{
width:100%;
}

.score p{
float: left;
padding-right: 25px;
margin:0;
}

.movie{
min-height:700px;
}

}